.dark{
  background-color: #333333;
  color:$white;
  p, li, a{
    color:$white;
  }
}

// Padding

$padding-std: clamp(3rem, 3vw, 4rem);
$padding-deep: clamp(3rem, 5vw, 6rem);
.padding{
  padding-top:$padding-deep;
  padding-bottom: $padding-deep;
  .c-product-details &{
    padding-top:$padding-deep;
    padding-bottom: $padding-deep;
  }
}
.nopaddingtop{
  padding-top:0;
  padding-bottom: $padding-deep;
  .c-product-details &{
    padding-top:0;
    padding-bottom: $padding-deep;
  }
}
.nopaddingbottom{
  padding-top:$padding-deep;
  padding-bottom: 0;
  .c-product-details &{
    padding-top:$padding-deep;
    padding-bottom: 0;
  }
}
.nopadding{
  padding-top:0;
  padding-bottom: 0;
}


// backgrounds

.background--white{
  background-color:$white;
}
.background--gray{
  background-color:$color-bg-feint;
}